<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OpenCheck</title>
    <link rel="stylesheet" href="/css/tailwind-min.css">
    <script>
        function toggleCollapsible(button) {
            const descriptionDiv = button.nextElementSibling;
            if (descriptionDiv.classList.contains('hidden')) {
                descriptionDiv.classList.remove('hidden');
                button.textContent = '[Click to hide description]';
            } else {
                descriptionDiv.classList.add('hidden');
                button.textContent = '[Click to show description]';
            }
        }

        async function handleSubmit(event) {
                event.preventDefault();
                const form = event.target;
                const data = new FormData(form);
                const domain = data.get('domain');
                const response = await fetch(`/lookup?domain=${domain}`);
                const result = await response.text();
                document.querySelector('.results').innerHTML = result;
            }


        document.addEventListener('DOMContentLoaded', () => {
            document.getElementById('lookupForm').addEventListener('submit', handleSubmit);
        });

        function showAllDescriptions() {
            const descriptions = document.getElementsByClassName('record-description');
            const button = document.getElementById('show-hide-button');
            const isHidden = button.textContent === 'Show descriptions';

            for (const description of descriptions) {
                description.style.display = isHidden ? 'block' : 'none';
            }

            button.textContent = isHidden ? 'Hide descriptions' : 'Show descriptions';
        }
    </script>
</head>