<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OpenCheck</title>
    <link rel="stylesheet" href="/css/tailwind.css">
    <script>
        function toggleCollapsible(button) {
            const descriptionDiv = button.nextElementSibling;
            if (descriptionDiv.classList.contains('hidden')) {
                descriptionDiv.classList.remove('hidden');
                button.textContent = '[Click to hide description]';
            } else {
                descriptionDiv.classList.add('hidden');
                button.textContent = '[Click to show description]';
            }
        }
    </script>
</head>

</html>