<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OpenCheck</title>
    <link rel="stylesheet" href="/css/tailwind.css">
    <script>
        function toggleCollapsible(button) {
            const descriptionDiv = button.nextElementSibling;
            if (descriptionDiv.classList.contains('hidden')) {
                descriptionDiv.classList.remove('hidden');
                button.textContent = '[Click to hide description]';
            } else {
                descriptionDiv.classList.add('hidden');
                button.textContent = '[Click to show description]';
            }
        }
    </script>
    <script>
        async function handleSubmit(event) {
                event.preventDefault();
                const form = event.target;
                const data = new FormData(form);
                const domain = data.get('domain');
                const response = await fetch(`/lookup?domain=${domain}`); // Make sure it's using GET method here
                const result = await response.text();
                document.querySelector('.content').innerHTML = result;
            }

            document.addEventListener('DOMContentLoaded', () => {
                document.getElementById('lookupForm').addEventListener('submit', handleSubmit);
            });


    </script>

</head>