<%- include('header.ejs') %>

<body class="bg-gray-100">

    <div class="container mx-auto py-8 content">
        <h1 class="text-4xl font-bold mb-8">DNS Lookup</h1>

        <form id="lookupForm" method="post" class="mb-8">

            <label for="domain" class="mr-2">Domain:</label>
            <input type="text" id="domain" name="domain" required>
            <button type="submit" class="bg-blue-500 text-white px-4 py-2 rounded">Lookup DNS Records</button>
        </form>

    </div>

    </body>

    </html>